.userPosts{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
}

.userPosts h1{
    color: #000000;
}

.userPost{
    width: 40vw;
    /* min-height: 200px; */
    background-color: white;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #586F7C;
    margin-bottom: 8px;
    margin-top: 20px;
    box-sizing: content-box;
}

.myPostLink{
    text-decoration: none;
    color: black;
}

.userPostButtons{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.userPostButtons button{
    padding: 8px;
    background-color: #586F7C86;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer

}

.userPostButtons button:hover{
    background-color: #586F7CD0;
    transition: .5s;
}

.startWriting{
    color: white;
    text-decoration: none;
    height: 50px;
    width: 20vw;
    background-color: #586F7C86;
    border: none;
    border-radius: 3px;
    cursor: pointer
}

.startWriting:hover{
    background-color: #586F7CD0;
    transition: .5s;
}

.noPosts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}