.header{
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: repeating-linear-gradient( #444554, #BFACB5);
}

.profile-pic{
    height: 65px;
    width: 65px;
    border-radius: 50%;
    object-fit: cover;
}
.update-button{
    color: whitesmoke;
    /* background-color: #BFACB5;  */
    border: none;
   background-color: transparent;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
  
}
.link {
    color: whitesmoke;
    
   
    padding: 30px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
.logo {
    width: 142px;
    height: 37px;
    
    
}

.h3 {
    font-size: 14px;
}

.dropdown-menu{
    height: 25vh;
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 55%;
}