.header{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile-pic{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}