.post{
    min-height: 100vh;
    max-height: fit-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #172121;
}

.content {
    background-color: #E5D0CC;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 40vh;
    width: 40vw;
    border-style: solid;
    border-color:  #444554;
    border-width: 5px;
}


form{
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

button{
    border-style: double;
    border-width: 3px;
    border-color: black;
    height: 25px;
    width: 10vw;
    background-color: #7F7B82;
}

input{
    width: 50%;
    background-color: #444554;
}

.comment{
    background-color: #BFACB5;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 10vh;
    width: 20vw;
    border-style: solid;
    border-color:  #444554;
    border-width: 2px;
}