.dash-background{
    height: 100%;
    width: 100vw;
    background-color: #444554;
}

.container{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #BFACB5;
}

.post-container{
    background-color: #E5D0CC;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 60vw;
    color: black;
    margin-top: 10px;
    box-sizing: content-box;
    transition: 0.8s;
}

.post-container:hover{
    box-shadow: 5px 5px 5px 3px #e5d0ccb0;
    background-color: #BFACB5;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.link-box{
    height: 20px;
    width: 8vw;
    background-color: black;
    margin-top: 15px;
    transition: .3s;
}

.link-box:hover{
    background-color: #444554;
    color: white;
}

.seperating-line{
    height: 1px;
    background-color: #BFACB5;
    width: 60vw;
}

.username{
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}